.container{
  width: 1020px;
  margin: auto;
}

.row{
  display: flex;
  justify-content: space-between;
  min-height: 500px;
}

.mini-row{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.row-2{
  display: flex;
  justify-content: space-between;
}

.col-1{
  flex-basis: 50%;
  max-width: 400px;
  height: 50%;  
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
  border-radius: 13px;
  padding: 20px;
}

.col-2{
  flex-basis: 30%;
  min-width: 250px;
  height: 60%;
  margin-bottom: 30px;
  align-self: center;
}

.col-3{
  width: 100%;
  min-height: 200px;
  background-color: lightsteelblue;
  padding: 30px;
  border-radius: 13px;
}

.titel{
  justify-self: center;
  align-items: center;
  font-size: 50px;
  color: lightblue;
  align-self: center;
}

.pText{
  align-self: flex-end;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.Partijen-btn{
  background-color: lightblue; 
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 13px;
  width: 200px;
  height: 50px;
  min-width: 100px;
  margin: 10px 5px;
  transition: transform 0.5s;
}

.Partijen-btn:hover{
  transform: translateY(-10px);
}

.btnStart{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 13px;
}

.Partijen{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info_Partij{
  border: solid 1px black;
  border-radius: 13px;
  padding: 25px 10px;
  width: 400px;
  min-height: 250px;
  display: flex;
  flex-direction: column; 
  background-color: lightblue;
  box-shadow: 13px 18px #b3c9ce;
  color: white;
  margin-bottom: 70px;
}

.info_Partij p{
  font-size: 20px;
}

.Contact{
  font-size: 50px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.themaTitel{
  text-align: center;
  background-color:rgb(179, 236, 245);
  font-size: 25px;
  border: 0px solid;
  color:rgb(6, 6, 90);
}

.mini-container{
  width: 325px;
  max-width: 450px;
  height: 200px;
  border: 1px solid ;
  border-radius: 13px;
  background-color:rgb(179, 236, 245);
  color: rgb(13, 13, 96);
  display: flex;
  align-items: center;
  justify-content:center;
  transition: transform 0.5s;
}
.mini-container:hover{
  transform: translateY(-15px);
}