.container{
  width: 1020px;
  margin: auto;
}

.row{
  display: flex;
  justify-content: space-between;
  height: 500px;
}

.col-1{
  flex-basis: 50%;
  max-width: 400px;
  height: 50%;  
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  box-shadow: 5px 10px #888888;
  border-radius: 13px;
  padding: 20px;
}

h1{
  justify-self: center;
  align-items: center;
  font-size: 50px;
  color: lightblue;
  align-self: center;
}

.pText{
  align-self: flex-end;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.col-2{
  flex-basis: 30%;
  min-width: 250px;
  height: 60%;
  margin-bottom: 30px;
  align-self: center;
}

.btnStart{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 52px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 13px;
}